html, body {
  background-color: white;
  color: black;
  font-family: 'CircularStd', 'system-ui';
  width: 100vw;
  overflow-x: hidden;
}

* {
  cursor: none;
}


/* 
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #131316;
    color: white;
  }
} */
