html, body {
  background-color: white;
  color: black;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

input {
  -webkit-appearance: none !important;
  border-radius: 0;
}


* {
  cursor: none;
  font-family: 'CircularStd', 'system-ui';
}

a {
  color: black;
}
/* 
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #131316;
    color: white;
  }
} */
