.cursor-inner {
    width: 20px;
    height: 20px;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    pointer-events: none;
    transition: all 100ms ease-out;
    z-index: 9999;
    mix-blend-mode: difference;
    transition-property:  opacity, background-color, transform, width, height;
}


.cursor--hidden {
    opacity: 0;
    transition-property:  opacity;
}

.cursor--clicked {
    width: 10px;
    height: 10px;
    transition: all 150ms ease-out;
    transition-property: width, height;
}

.cursor--link-hovered {
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    transition: translate 100ms ease-out;
    transition-property:  opacity, background-color, transform, width, height;
}

.cursor--link-hovered-arrow {
    z-index: 9999;
    color: white;
    width: 30%;
    height: 30%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: hidden;
    text-align: center;
}

.cursor-img {
    object-fit: contain;
    position: absolute;
    transform: translate(-50%, -50%);
}